/* Beaver Builder Breakpoints (See WP Customizer) */
$size__bb-site-wrap: 1920px;
$size_bb-site-large: 1400px;
$size_bb-site-large-plus: 1401px;
$size_bb-site-medium: 1200px;
$size_bb-site-medium-plus: 1201px;
$size_bb-site-mobile: 992px;
$size_bb-site-mobile-plus: 993px;

$size__bb-site-splash: 1200px;
