$color__dark: #000;
$color__light: #fff;

$color__grey_light: rgba(241, 241, 241, 1); // #f1f1f1
$color__grey_extre-light: rgba(241, 241, 241, 0.25); // #f1f1f1
$color__grey_light_border: #e6e6e6;
$color__link: #36618c;
$color__link_hover: #2e5276;
$color__link_hover-dark: #002e6d;

$color__accent-color: #36618c;
$color__logo-red: #ed1c24;
$color__logo-dark: #231f20;

$color__main-nav-link: #231f20;

$color__background-body: $color__light;
$color__background-baby-blue: rgba(237, 246, 251, 1); // #edf6fb;
$color__background-baby-blue-light: rgba(237, 246, 251, 0.25); // #edf6fb;
$color__text-body: $color__accent-color;
$color__text-headings: $color__logo-dark;

$color__head-social-media-ico: #231f20;

// Grey
$color__background-grey-light: rgba(249, 249, 249, 1);
$color__background-grey-medium: rgba(241, 241, 241, 1);
