.ccpsa-row-hero-banner {
  .fl-row-content-wrap {
    padding: 28% 0 0 0;
    .fl-row-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
    }
  }

  .ccpsa-col-hero-banner-content {
    .ccpsa-hero-banner-heading,
    .fl-heading {
      color: $color__light;
      font-family: $font__headings;
      font-weight: 300;
      letter-spacing: -1px;
      line-height: 1.1em;
      text-align: center;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: $size_bb-site-mobile) {
    .ccpsa-col-hero-banner-content {
      .ccpsa-hero-banner-heading,
      .fl-heading {
        font-size: 30px;
      }
    }
  }

  @media screen and (min-width: $size_bb-site-mobile+1) and (max-width: $size_bb-site-large) {
    .ccpsa-col-hero-banner-content {
      .ccpsa-hero-banner-heading,
      .fl-heading {
        font-size: 40px;
      }
    }
  }

  @media screen and (min-width: $size_bb-site-large+1) {
    .ccpsa-col-hero-banner-content {
      .ccpsa-hero-banner-heading,
      .fl-heading {
        font-size: 64px;
      }
    }
  }
}
