.ccpsa-row-posts-nsp-partners {
  .fl-photo-img {
    background-color: $color__link;
    max-width: 188px !important;
  }
}
.ccpsa-row-posts-memberships {
  .fl-photo-img {
    background-color: $color__link;
  }
}
