.ccpsa-row-post-ts {
  .ccpsa-col-post-ts-photo {
    .fl-module-photo {
    }
  }
  .ccpsa-col-post-ts-text {
    .list {
      font-size: 1.125rem;
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      .list-item {
        margin: 0;
      }
    }
  }

  @media screen and (max-width: $size_bb-site-mobile) {
  }

  @media screen and (min-width: $size_bb-site-mobile+1) and (max-width: $size_bb-site-medium) {
  }

  @media screen and (min-width: $size_bb-site-medium+1) {
  }
}
