.ccpsa-row-posts-events {
  .ccpsa-mod-posts-events {
    .ccpsa-post-event {
      padding: 2em 1.5em 1em 1.5em;

      &:nth-child(2n + 1) {
        background-color: rgba(237, 246, 251, 0.25);
      }
      .fl-post-feed-title {
        font-size: 1.625rem;
      }
      .fl-post-feed-meta {
        font-size: 1em;
        .list {
          list-style: none;
          margin: 0 0 1.5em 0;
          padding: 0;
        }
        .list-item {
          margin: 0;
          b {
            display: inline-block;
            // text-transform: uppercase;
            font-weight: 600;
            // font-size: 0.875em;
          }
        }
      }

      .section-wrap {
        .section {
          .section-title {
            font-size: 1em;
            font-family: $font__main;
            letter-spacing: normal;
            margin-bottom: 0.25em;
          }
        }
      }
    }
  }

  @media screen and (max-width: $size_bb-site-mobile) {
  }
  @media screen and (min-width: $size_bb-site-mobile+1) {
    .ccpsa-mod-posts-events {
      .ccpsa-post-event {
        .event-content-wrap {
          margin: 1rem 0 0 1rem;
        }
        .section-wrap {
          display: flex;
          flex-wrap: wrap;
          .section {
            width: 45%;
            margin: 0 5% 0 0;
          }
        }
      }
    }
  }

  @media screen and (min-width: $size_bb-site-mobile+1) and (max-width: $size_bb-site-medium) {
  }

  @media screen and (min-width: $size_bb-site-medium+1) {
  }
}
